.headerApp {
  height: 78px;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(49, 160, 95, 1) 0%,
    rgba(92, 190, 133, 1) 150%
  );
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.headerApp__plantName {
  color: #fff;
  font-size: 1.565rem;
}

.headerStreak {
  text-align: center;
  margin-top: 17px;
}

.headerStreak__section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerStreak__number {
  font-size: 2.188rem;
  color: #3a3a3a;
}

.headerStreak__text {
  font-size: 0.82rem;
  color: #d9d9d9;
  margin-top: -3px;
}

.headerApp button {
  background: none;
  border: none;
  margin: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.modalForm {
  gap: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.modalForm__input {
  flex: 1;
  border: 1px solid #31a05f;
  border-radius: 2px;
  padding: 0px 5px;
  height: 40px;
}

.modalForm__input:focus {
  outline: none;
}

.modalForm__closeBtn {
  position: absolute;
  top: 0;
  right: 10px;
  color: #a1a1a1;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
}

.modalForm__button {
  height: 40px;
  cursor: pointer;
  background-color: #31a05f;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.modalForm__text {
  margin-top: 3px;
  font-size: 0.7rem;
  color: #a1a1a1;
}
